<!DOCTYPE html> 
<html> 
<head> 
    <title>GET ALL USERS</title> 

    <style>
        body {
            background-color: #f0f0f0; /* Set background color */
            color: #333; /* Set text color */
            font-family: Arial, sans-serif; /* Set font family */
        }
    </style> 
</head> 

<body> 
    <h5>This is our home page.</h5>
    <h6><li>Total Count: <%= data.totalCount %></li></h6>
    <h6><li>Total pages: <%= data.totalPages %></li></h6>
    <h6><li>Results per page: <%= data.ResultPerPage %></li></h6>
    <h6><li>Current page: <%= data.currentPage %></li></h6>
    <h6><li>Next page: <%= data.nextPage %></li></h6>
    <h6><li>Previous page: <%= data.perviousPage %></li></h6>
    <h5><li>Result Data : </li></h5>
    <h6>
    <ul> 
        <% data.data.forEach((user) => { %> 
            <li> 
                <h3> USER: <%= user.username %> </h3> 
            </li> 
        <% }); %> 
    </ul> 
    </h6>
</body> 
</html>
